	<div class="callout-container top-right callout1">
		<h3>Controls</h3>
		<div class="button-container container1">
			<div class="button-frame plastic">
				<div id="button1" class="the-button plastic"></div>
			</div>
		</div>
		<div class="button-container container2">
			<div class="button-frame plastic">
				<div id="button2" class="the-button plastic"></div>
			</div>
		</div>

		<%= image_tag("boxer.png", :id => "boxer", :size => "190x200") %>
	</div>