	<div class="callout-container callout3 top-right">
		<div class="coverup">
			<%= video_tag "", :size => "640x480", :controls => false, :id => "video2", :class => "video", :type => "video/ogg" %>
			<%= video_tag "", :size => "640x480", :controls => false, :id => "video3", :class => "video", :type => "video/ogg" %>
			<%= video_tag "", :size => "640x480", :controls => false, :id => "video1", :class => "video", :type => "video/ogg" %>
		</div>
	</div>